body {
    background: grey;
    font-family: sans-serif;

}
.container {
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
}
.button1 {
    padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: darkcyan ;
    color: white;
    text-align:center;
}
.button2 {
    padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: orange ;
    color: black
    text-align : center;
}
.button3 {
    padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: purple ;
    color: white;
    text-align : center;
}